html {
    font-size: 16px;
}

.register,
.register * {
    box-sizing: border-box;
}

.register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);
}

.register-form {
    width: 22.5rem;
}

.register-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.register-field label {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-900);
}

.register-field input {
    width: 100%;
    padding: 0.875rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--gray-900);
    background-color: var(--gray-000);
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.register-field input::placeholder {
    color: var(--gray-400);
}

.register-field input:focus {
    box-shadow: 0 0 0 0.125rem var(--orange-600);
}

.register-btn {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.875rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-000);
    background-color: var(--orange-600);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-guide {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: var(--gray-600);
    text-align: center;
}

.register-login {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--orange-600);
    text-align: center;
    text-decoration: none;
}
.google-btn{
    background: var(--gray-000);
    color: var(--gray-900);
}

.google-btn img{
    margin-right: 7px;
}