:root{
--gray-000: #FFFFFF;
--gray-050: #F8F9FA;
--gray-100: #F2F3F6; 
--gray-200: #DBDCE2; 
--gray-300: #D0D1DA; 
--gray-400: #BDBEC8; 
--gray-500: #AAABB4; 
--gray-600: #898A93; 
--gray-700: #686971; 
--gray-800: #525359; 
--gray-900: #111111; 
--yellow-200: #FFFAE0;  
--orange-600: #FF6F0E;  
--green-200: #E6F3E6; 
--green-400: #C2E8C2; 
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#mainSectionGrid {
    margin-left: 120px;
    margin-right: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    
}

#productImg {
    width: 210px;
    height: 210px;
    border-radius: 5px;
    overflow: hidden;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.productName {
    color: var(--gray-900);
    font-size: 1.063rem;
    font-weight: 400;
}

.productPrice {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--gray-900);
}

.productAddress {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-600);
}

.productMeta {
    margin-top: 6px;
    display: flex;
    gap: 4px;
}

.meta {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-600);
}

#pageList {
    display: flex;
    justify-content: center;
    gap: 36px;
}

#pageList button {
    border: none;
    background-color: var(--gray-050);
    width: 12px; height: 20px;
    padding: 0;
    transition: all 0.3s;
}

#pageList button:hover {
    color: blue;
    transform: scale(1.5rem);
}

#prevPage {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-500);
}

#nextPage {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-700);
}

#pageNums {
    font-size: 1.063rem;
    font-weight: 600;
    color: var(--gray-700);
}